# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\Charles\Documents\Toegepaste_informatica_2022_2023\kwartaal_3\DDF\git opdracht 2\Dressr\kledingstuk\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
