<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Kledingstuk</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="../static/css/bootstrap.min.css" rel="stylesheet" media="screen" th:href="@{/css/bootstrap.min.css}"/>
    <link href="../static/css/core.css" rel="stylesheet" media="screen" th:href="@{/css/core.css}" />
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="../static/js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
</head>
<body>
<div th:replace="~{fragments/header::header}">Header</div>
<div class="container">
    <div class="text-left">
        <h1>Kledingstuk detail</h1>
        <p><b>Id:</b> <span th:text="${kledingstuk.id}">id</span> </p>
        <p><b>Naam:</b> <span th:text="${kledingstuk.naam}">naam</span> </p>
        <p><b>Merk:</b> <span th:text="${kledingstuk.merk}">naam</span> </p>
        <p><b>Kledingstukspecificaties:</b> <span th:text="${kledingstuk.kledingspecificaties}">kledingstukspecificaties</span> </p>
        <p><b>Gereserveerd:</b> <span th:text="${kledingstuk.gereserveerd}">gereserveerd</span> </p>

        <div class="btns">
            <a th:href="@{/kledingmanager/verwijderd.html(id=${kledingstuk.id})}">verwijderen</a>
            <a th:href="@{/kledingmanager/updateKledingstuk.html(id=${kledingstuk.id})}">updaten</a>
            <a th:href="@{/kledingmanager/wijzigenreservatie.html(id=${kledingstuk.id})}">reserveren</a>
            <a href="/kledingmanger/overzicht.html" th:href="@{/kledingmanager/overzicht.html}" class="overzicht">overzicht</a>
        </div>
    </div>
    <div th:replace="~{fragments/footer :: footer}">&copy; 2013 The Static Templates</div>
</div>
</body>
</html>